body{
  background-color: blanchedalmond;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container
{
  display: block;
  position: relative;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  padding: 17px;
  background-color: rgb(150, 136, 112);
  border: 1px solid rgb(139, 139, 139);
   box-shadow: 10px 10px 10px 7px rgb(210, 210, 210);
}
.row
{
  display: flex;
  margin: 7px;
 justify-content: space-between;
  /* border: 1px solid red; */
}

.row input,select
{
  margin-left: 12px;
  width: 230px;
  font: 14px;
  padding: 7px;
  text-align: justify;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 7px;
}

.ExpenseTable thead th
{
  border: 2px double rgb(255, 109, 109);
  padding: 9px;
}

.ExpenseTable
{
  border-collapse: collapse;
  width: 100%;
}

.ExpenseTable tr td
{
  padding: 7px;
  border-right: 2px solid rgb(255, 109, 109);
  border-left: 2px solid rgb(255, 109, 109);
  border-bottom: 2px solid rgba(0, 21, 96, 0.568);
}