.container
{
    /* border: 1px solid red; */
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid rgb(154, 154, 154); */
    box-shadow: 7px 7px 5px rgb(112, 112, 112);
    border: 1px solid rgb(178, 178, 178);
    background-color: rgb(255, 255, 255);
    width: 250px; 
    padding: 20px;
    border-radius: 7px;
}
.upload-btn
{
    font-size: medium;
    font-weight: 700;
    width: 100px;
    padding: 7px;
    background-color: rgb(0, 110, 98);
    border-radius: 3px;
    /* border: 1px solid green; */
    color: rgb(255, 255, 255);
    margin: 20px;
    cursor: pointer;
}

.upload-btn:hover
{
    background-color: rgb(16, 125, 74);
    color: white;
}
.message-cont
{
    width: 100%;
    background-color: rgba(255, 250, 240, 0);
    border: 0px;
    pointer-events: none;
    cursor: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: medium;
}

input[type="file"]::file-selector-button
{
  background: url('/src/cloud-computing.png') no-repeat center;
  background-size: contain;
  width: 250px;  /* Match your image dimensions */
  height: 80px;
  color: transparent; /* Hides the "Choose File" text */
  border: 2px dashed rgb(132, 132, 132);
  border-radius: 8px;
  cursor: pointer;
}
